<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="true" bootstrap="test/Bootstrap.php" colors="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" beStrictAboutTestsThatDoNotTestAnything="false" defaultTestSuite="unit" cacheDirectory=".phpunit.cache" backupStaticProperties="false" requireCoverageMetadata="false">
  <php>
    <ini name="display_errors" value="true"/>
  </php>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
  <testsuites>
    <testsuite name="unit">
      <directory>test</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>./test/Ldap/ConnectionIT.php</directory>
      <directory>./test/Role/ManagerIT.php</directory>
    </testsuite>
  </testsuites>
  <source/>
</phpunit>
