<!-- get nonce -->
<script type="application/javascript">
    document['next_ad_int'] = document['next_ad_int'] || {};
    document['next_ad_int']['security'] = '{{ nonce }}';
</script>
<div ng-app="next_ad_int-module">
    <h1>{{ i18n.title }}</h1>

    <div ng-controller="BlogController">
        <form class="form adi-form" name="form">
            <div class="block-ui" ng-hide="runningRequests == 0"></div>

            {% import "option/page.twig" as page %}
            {{ page.create('noprefix', false, i18n) }}
        </form>
    </div>
</div>
<!-- Including jQuery Dialog dependency -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->

<!-- setting up dialog message -->
<div id="dialog-message" title="Reminder">
    <p></p>
</div>