{# macro for generating tab bodies#}
{% macro create(prefix, isProfile) %}

    <div ng-controller="AjaxController">

    {% import "option/group.twig" as group %}

    {% set grouping = getOptionsGrouping() %}

    {# Create all tab bodies #}
    {% for tabName, optionGroups in grouping if isOptionGroupVisible(optionGroups) %}
        {# Create a tab body #}
        {% set tabId = 'tab_body_' ~ prefix ~ '__' ~ loop.index0 %}

        {% if loop.first %}
            {% set style = '' %}
        {% else %}
            {% set style = 'display: none' %}
        {% endif %}

        {% set tabId = 'tab_body_' ~ prefix ~ '__' ~ loop.index0 %}

        <div id="{{ tabId }}" class="tab-body" style="{{ style }}" ng-controller="{{ optionGroups.angular_controller|raw }}">
            {{ group.create(optionGroups, isProfile) }}
        
            <button class="button button-primary"  ng-disabled="(option.verification_status == '' && permission.verification_username == 3 && verification_password == 3)" ng-click="$parent.save()">Save</button>
            <span ng-hide="(option.verification_status != '') || (permission.verification_username != 3 && permission.verification_password != 3)" style="color: red">You have to verify the connection to the AD before saving.</span>
        </div>

    {% endfor %}
    </div>


{% endmacro %}