{% macro create(optionName, profileId) %}

    {% set NEXT_AD_INT_I18N = constant('NEXT_AD_INT_I18N') %}
    {% set permission = getOptionPermission(profileId, optionName) %}
    {% set optionDisabled = getMetadata(optionName, 'DISABLED') %}
    {% set optionDisabledMessage = getMetadata(optionName, 'DISABLED_MESSAGE') %}

    {% if optionDisabled %}

        <span>{{ optionDisabledMessage|raw }}</span>

    {% else %}

        <span>{{ 'This option is managed by the profile.'|__(NEXT_AD_INT_I18N) }}</span>

    {% endif %}

{% endmacro %}