{# create an option page for one blog or for one profile #}
{% macro create(prefix, isProfile, i18n) %}

    {% import "option/header.twig" as header %}
    {% import "option/body.twig" as body %}

    {% set grouping = getOptionsGrouping() %}

    <div id="{{ 'optionPage__' ~ prefix }}" class="wrap">

        {% if grouping|length > 1 %}

            {{ header.create(prefix) }}

            {{ body.create(prefix, isProfile, i18n) }}

        {% else %}

            <h3>{{ i18n.noOptionsExists }}</h3>

        {% endif %}

    </div>


{% endmacro %}